.section-f-s-p-t {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  
  .about-us-photo {
    + .about-us-photo {
      margin-left: 30px;
  }
}
  /* .about-us-photo:not(:last-child){
  margin-right: 30px;
  } */
  
  
  .about-us-img {
    position: relative;
  }
  
  .about-img-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
  
  .about-us-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 205px;
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }