.page-header {
    border-bottom: 1px solid var(--header-borderline);
}

  .navigation-list {
    display: flex;
    margin-right: 305px;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text);
  }
  
  .nav-item {
    & +.nav-item {
      margin-left: 50px;
  }
}
   /* :not(:last-child) */

  .nav-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text);
  }
    